# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# IDE
.idea/
.vscode/

# Dataset / biometric data
data/

# Generated models / embeddings
models/*.pkl
models/*.pickle



# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db